@charset "UTF-8";



/** 

 * MTV.com CSS Drop-Down Menu Theme

 *

 * @file		default.css

 * @name		MTV

 * @version		0.1

 * @type		transitional

 * @browsers	Windows: IE6+, Opera7+, Firefox1+

 *				Mac OS: Safari2+, Firefox2+

 *

 * @link		http://www.lwis.net/

 * @copyright	2008 Live Web Institute. All Rights Reserved.

 *

 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}

 * Expected directory tag - li

 *

 */



@import "helper.css";





/*------------------------------------------------------------------------------------------------------/

	@section	Style Framework  */





	/* First-level expected directory tag - li */



	div#sbMenu ul.dropdown li {

	 padding: 5px;

	}



	div#sbMenu ul.dropdown *.dir {

	 padding-right: 30px;

	 background-image: none;

	 background-position: 100% 50%;

	 background-repeat: no-repeat;

	}



		/* Non-first level */

		div#sbMenu ul.dropdown ul *.dir {

		 padding-right: 15px;

		 background-image: url(/images/vanguard/nav-arrow-right.png);

		 background-position: 100% 200%;

		 background-repeat: no-repeat;

		}



		div#sbMenu ul.dropdown ul ul *.dir {

		 background-image: url(/images/vanguard/nav-arrow-right2.png);

		}





	/* Components override */



	div#sbMenu ul.dropdown-vertical *.dir {

	 background-image: url(/images/vanguard/nav-arrow-right.png);

	}



	div#sbMenu ul.dropdown-vertical-rtl *.dir {

	 padding-right: 15px;

	 background-image: url(/images/vanguard/nav-arrow-left.png);

	 background-position: 0 0%;

	}







/*------------------------------------------------------------------------------------------------------/

	@section	Base Drop-Down Styling  */







	/* ALL LEVELS (incl. first) */



	div#sbMenu ul.dropdown {

	 font: bold 12px/normal Arial, Helvetica, sans-serif;

	
	 

	}



		div#sbMenu ul.dropdown li {

		  background: url(/images/vanguard/mainbg2.png) top left;

		 color: #fff;

		}



		div#sbMenu ul.dropdown li.hover,

		div#sbMenu ul.dropdown li:hover { 
		}



		/* Links */



		div#sbMenu ul.dropdown a:link,
	

		div#sbMenu ul.dropdown a:visited { color: #fff; text-decoration: none;}

		div#sbMenu ul.dropdown a:hover {
			

		 border-top-color: #5db1e0 !important;

		 border-left-color: #5db1e0;

		 background-color: #4498c7;

		 color: #fff;


		}



		div#sbMenu ul.dropdown ul a.dir:hover { /* proposal */

		 background-color: #4698ca;

		 background-image: url(/images/vanguard/comnav-arrowon.png);

		 color: #fff;
		 		 	

		}



		div#sbMenu ul.dropdown a:active {

		 background: #058acf url(/images/vanguard/nav-sub-press.png) 0 0 repeat-x !important;

		 color: #fff;

		}





		/* NON-FIRST LEVEL */



		div#sbMenu ul.dropdown ul {

		 left: 1px;

		 right: 30px;

		 width: 205px;
		 
		 height:46px;

		 margin-top: -1px;
		 
		 margin-left: 5px;
		 
		 padding-top: 1px;

		 border-top: 0px solid #1a1a1a;

		 border-left: solid 0px #4c4c4c;

		 font: bold 11px/1em Tahoma, Geneva, Verdana, sans-serif;

		}



			div#sbMenu ul.dropdown ul li {

			 background-color: #3a3a3a;


			}



		div#sbMenu ul.dropdown ul ul {

		 top: 0;

		 right: auto;

		 left: 100%;

		 border-top: none;

		 border-left: none;

		 font-weight: normal;

		}



			div#sbMenu ul.dropdown ul ul li {

			 background-color: #4c4c4c;

			}



		div#sbMenu ul.dropdown ul ul ul li {

		 background-color: #595959;

		}







/* Mixed  see defult_un_edited.css*/









/* Custom elements */
#n-movies { width: 250px; text-align: center; }

#n-movies ul { right: auto; left: 0; width: 249px; text-align: left; }

#n-movies ul ul { left: 249px; width: 150px; }

#n-movies ul a { width: 232px; }

#n-movies ul a.dir { width: 210px; }

#n-movies ul ul a { width: 133px; }

#n-movies ul ul a.dir { width: 111px; }

#n-movies ul ul ul { left: 100%; }


