table.contentpaneopen-topphone {
    margin-top: 10px;
}

table.contentpaneopen-topphone th {}

table.contentpaneopen-topphone tr{}

table.contentpaneopen-topphone td {
    color: #010101;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

table.contentpaneopen-footerphone {
    margin-top: 30px;
}

table.contentpaneopen-footerphone th {}

table.contentpaneopen-footerphone tr{}

table.contentpaneopen-footerphone td {
    color: #605f5f;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.footer-menu table {
    width: 765px;
}

.mainlevel-footermenu {
	padding: 0 10px 0 5px;
    color: #605f5f;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

a.mainlevel-footermenu {
    color: #605f5f;
	text-decoration: none;
}

a.mainlevel-footermenu:hover {
    color: #605f5f;
	text-decoration: underline;
}

table.contentpaneopen-copyright {
    margin-top: 1px;
	width: 765px;
}

table.contentpaneopen-copyright th {}

table.contentpaneopen-copyright tr{}

table.contentpaneopen-copyright td {
    color: #605f5f;
	width: 765px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
}

/*** SUCKERFISH DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.sf-menu a {
	border: 0;
	padding: 17px 1.5em 16px 1em;
	text-decoration: none;
	background-image: url(/images/vanguard/menu-seperator.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #fff;
}

.sf-menu ul {
    margin-top: 0px;
	background: url(/images/vanguard/menu-bg.png) repeat-x;
}

.sf-menu li {
	background: url(/images/vanguard/menu-bg.png) repeat-x;
}

.sf-menu li li {
	background: transparent;
}

.sf-menu li li li {
	background: transparent;
}

.sf-menu li:first-child, .sf-menu li.first-child {
}

.sf-menu li:last-child, .sf-menu li.last-child {
}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background: url(/images/vanguard/menu-hover-bg.png) repeat-x;
	outline:		0;
}

.sf-menu a:hover {
	background-image: url(/images/vanguard/menu-seperator.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.sf-menu li .separator {
	display: block;
	border-left: 0px solid #fff;
	border-top: 0;
	padding: .75em 1em;
	text-decoration: none;
}

.sf-menu #current {
	background: url(/images/vanguard/menu-bg.png) repeat-x;
}

.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('/images/vanguard/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
