@charset "UTF-8";



/** 

 * MTV.com Ultimate Linear CSS Drop-Down Menu Theme

 *

 * @file		default.ultimate.css

 * @name		MTV.com

 * @version		0.1

 * @type		transitional

 * @browsers	Windows: IE5+, Opera7+, Firefox1+

 *				Mac OS: Safari2+, Firefox2+

 *

 * @link		http://www.lwis.net/

 * @copyright	2008 Live Web Institute. All Rights Reserved.

 *

 */



@import "default.css";





/*------------------------------------------------------------------------------------------------------/

 * @section		Base Style Extension

 */



div#sbMenu ul.dropdown a,

div#sbMenu ul.dropdown span {

 display: block;
 height:29px;
 padding-top: 15px;
 padding-left:20px;
 padding-right:20px;


}







/*------------------------------------------------------------------------------------------------------/

 *	@section	Base Style Override

 */





div#sbMenu ul.dropdown li {

 padding: 0;
 

}



div#sbMenu ul.dropdown ul a,

div#sbMenu ul.dropdown ul span { /* POI, proposal: override abstract a, span */

padding-top:12px;
border-top:thin;
border-top-width:10px;

}







/*------------------------------------------------------------------------------------------------------/

 * @section		Base Style Reinitiate: post-override activities

 */





div#sbMenu ul.dropdown *.dir { /* POI */

 padding: 10px 30px;

}



div#sbMenu ul.dropdown ul *.dir {

 padding: 90px 30px 30px 30px;

}







/*------------------------------------------------------------------------------------------------------/

 *	@section	Custom Styles

 */





div#sbMenu ul.dropdown ul a {

 width: 170px;

}



div#sbMenu ul.dropdown ul a.dir {

 width: 150px;

}







/*------------------------------------------------------------------------------------------------------/

 * @section		Support Class `open` Usage

 * @source		js, artificial

 *

 */





div#sbMenu ul.dropdown *.open {

 background-color: #3d3d3d;

}

div#sbMenu ul.dropdown ul *.open {

 background-color: #4c4c4c;

 background-image: url(images/comnav-arrowover.png);

 color: #fff;

}

div#sbMenu ul.dropdown ul ul *.open {

 background-color: #595959;

 background-image: url(images/comnav-arrowover2.png);

 color: #fff;

}

/* Override UPPER TWO definitions */

div#sbMenu ul.dropdown a.open:hover {

 background-color: #4698ca;

 color: #fff;

}

div#sbMenu ul.dropdown ul a.open:hover {

 background-image: url(images/comnav-arrowon.png);

 color: #fff;

}





/* Clone in CSS 2 */



div#sbMenu ul.dropdown li:hover > *.dir {

 background-color: #3d3d3d;

}

div#sbMenu ul.dropdown ul li:hover > *.dir {

 background-color: #4c4c4c;

 background-image: url(images/comnav-arrowover.png);

}

div#sbMenu ul.dropdown ul ul li:hover > *.dir {

 background-color: #595959;

 background-image: url(images/comnav-arrowover2.png);

 color: #fff;

}



/* Override UPPER TWO definitions */

div#sbMenu ul.dropdown li:hover > a.dir:hover {

 background-color: #4698ca;

 color: #fff;

}

div#sbMenu ul.dropdown ul li:hover > a.dir:hover {

 background-image: url(images/comnav-arrowon.png);

 color: #fff;

}