a.breadcrumbs pathway {}
.pathway {}
a.pathway:link {}
a.pathway:visited {}
a.pathway:active {}
a.pathway:hover {}

.menu  { 
text-align: left;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
/*border-right: 10px solid #393939;*/
/*padding: 0 0 0 5px;*/
}

ul.menu {
background-color: #686868; 
list-style: none;
}

.menu a {
color: White;
display: block;
}

.menu a:hover {
color: #F0FFFF;
background-color: #627DAA;
display: block;
}

.menu ul {
color:white;
background-color: transparent; 
list-style: none;
padding: 0px;
}

.menu ul a {
    color:white;
	background: url(../images/dropdown-bg.png);
	display: block;
	text-indent: 1em;
	width: 189px;
	white-space: nowrap;
}

.menu  ul li a:hover {
    color:white;
	background: url(../images/sub-hover.png);
	width: 189px;
	white-space: nowrap;
}

.menu ul ul  {
list-style: none;
background-color: transparent; 
}

.menu ul ul a {
color:white;
background-color: Black; 
display: block;
text-indent: 2em;
}

.menu  ul li ul li a:hover {
color: White;
background-color: #FFD700;
}

.menu ul li ul li ul li {
list-style: none;
color: White;
background-color: transparent;
}
.menu ul li ul li ul li a {
color: White;
background-color: #B1CD32;
display: block;
text-indent: 3em;
}
.menu ul li ul li ul li a:hover {
color: White;
background-color: #677620;
}

.menu ul li ul li ul li ul li{
list-style: none;
color: White;
background-color: transparent;
}

.menu ul li ul li ul li ul li a{
color: White;
background-color: #660000;
display: block;
text-indent: 4em;
}

.menu ul li ul li ul li ul li a:hover{
color: White;
background-color: #990000;
}

#current li {
 margin: 0px;
 padding: 0px;
}

#current {
/*	list-style: disc url(../images/mw_readon.png);*/
/* image issue with the rollover need to be add to others href link */
}

.mainlevel {}
a.mainlevel {}
a.mainlevel:hover {}

.sublevel{}
a.sublevel{}
a.sublevel:hover {}