!!!
%html{:lang => "en-us", "xml:lang" => "en-us", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "index, follow", :name => "robots"}/
    %meta{:content => "loss prevention systems, shoplifting security, increase sales in retail, retail security solutions, retail product security, merchandise protection", :name => "keywords"}/
    %meta{:content => "Retail Loss Prevention Security Systems, Line Alarms | Anti-Shoplifting Security Alarms | Increase Sales in Retail", :name => "title"}/
    %meta{:content => "Andrew Heard", :name => "author"}/
    %meta{:content => "Increase sales and prevent loss. Vanguard powers and protect your consumer electronic products and provides interactive video messaging solutions to increase your sales", :name => "description"}/
    %meta{:content => "Joomla! 1.5 - Open Source Content Management; FlowPlayerReloaded 2.0 by tushev.org", :name => "generator"}/
    %title Retail Loss Prevention Security Systems, Line Alarms | Anti-Shoplifting Security Alarms | Increase Sales in Retail
    %link{:href => "/vanguard/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "/vanguard/stylesheets/dropdown.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/vanguard/stylesheets/default.ultimate.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/vanguard/javascripts/mootools.js", :type => "text/javascript"}
    %script{:src => "/vanguard/javascripts/flowplayer-3.2.6.min.js", :type => "text/javascript"}
    %script{:src => "/vanguard/javascripts/caption.js", :type => "text/javascript"}
    %script{:charset => "UTF-8", :type => "text/javascript"}
      \/*
      :cdata
        */
        try { if (undefined == xajax.config) xajax.config = {}; } catch (e) { xajax = {}; xajax.config = {}; };
        xajax.config.requestURI = "http://www.vanguardproductsgroup.com/index.php";
        xajax.config.statusMessages = true;
        xajax.config.waitCursor = true;
        xajax.config.version = "xajax 0.5";
        xajax.config.legacy = false;
        xajax.config.defaultMode = "asynchronous";
        xajax.config.defaultMethod = "POST";
        \/*
      */
    %script{:charset => "UTF-8", :src => "/vanguard/javascripts/xajax_core.js", :type => "text/javascript"}
    %script{:charset => "UTF-8", :type => "text/javascript"}
      \/*
      :cdata
        */
        xajax_bf_com_form_Handler = function() { return xajax.request( { xjxfun: 'bf_com_form_Handler' }, { parameters: arguments } ); };
        \/*
      */
    /[if lt IE 7]
      <script type="text/javascript" src="/vanguard/javascripts/mootools.dropdown.js"></script>
    = javascript_include_tag 'jquery.min.js', 'jquery_ujs.js', 'application.js', :cache => 'base'
    %link{:href => "/vanguard/stylesheets/system.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/vanguard/stylesheets/general.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/vanguard/stylesheets/template.css", :rel => "stylesheet", :type => "text/css"}/
    %link#JTKLocalCss{:href => "/vanguard/stylesheets/template.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #Vanguard-top
      .VPG-top
        .top-phone
          %table.contentpaneopen
            %tr
              %td{:valign => "top"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 340px; height: 61px;"}
                  %tbody{:style => "text-align: left;"}
                    %tr{:style => "text-align: left;"}
                      %td{:colspan => "5", :style => "text-align: right;"}
                        %strong
                          %span{:style => "font-size: 13pt;"}
                            %span{:style => "color: #000000;"} Engaging Customers. Increasing Sales.
                    %tr{:align => "right", :style => "text-align: right;", :valign => "top"}
                      %td.distext{:align => "right", :style => "width: 850px;", :valign => "top"}
                        %img{:alt => "blue_cart_fx_icon", :height => "26", :src => "/vanguard/images/blue_cart_fx_icon.png", :width => "31"}/
                      %td.distext{:align => "left", :scope => "col", :style => "text-align: left; width: 100px;", :valign => "top"}
                        %a{:href => "http://www.vpgwebstore.com"} Shop Online
                        %br/
                      %td{:align => "right", :style => "text-align: right; width: 140px;", :valign => "top"}
                        \&nbsp;
                        %img{:height => "29", :src => "/vanguard/images/world-map-flat.jpg", :width => "65"}/
                      %td.distext{:align => "right", :style => "text-align: right; width: 65px;", :valign => "top"}
                        %a{:href => "http://www.vanguardproductsgroup.com/International-Distributors/international-vpg-security-distributors.html"} International Distributors
            %tr
              %td{:valign => "top"}
        .top-logo
          %table.moduletable
            %tr
              %td
                %table.contentpaneopen
                  %tr
                    %td{:valign => "top"}
                      %a{:href => "http://www.vanguardproductsgroup.com"}
                        %img{:alt => "VPG-logo", :height => "60", :src => "/vanguard/images/VPG-logo.png", :style => "border: 0px;", :width => "349"}/
                  %tr
                    %td{:valign => "top"}
    #Vanguard-nav
      .VPG-nav
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "1011"}
          %tr
            %td.menu-menu{:valign => "top"}
              :css
                              = succeed "&amp;nbsp;" do
                #sbMenu
                  %ul.menu.dropdown.dropdown-horizontal
                    %li.item1
                      %a{:href => "http://www.vanguardproductsgroup.com/"} Home
                    %li.parent.item2
                      %a{:href => "http://www.vanguardproductsgroup.com/Solutions/solutions.html"} Solutions
                      %ul
                        %li.parent.item17
                          %a{:href => "http://www.vanguardproductsgroup.com/Power-Alarm-Solutions/power-alarm-solutions.html"} Power and Security Solutions
                          %ul
                            %li.item21
                              %a{:href => "http://www.vanguardproductsgroup.com/Cell-Phones/solutions-cell-phones.html"} Cell Phone
                            %li.item78
                              %a{:href => "http://www.vanguardproductsgroup.com/iPads-and-Tablets/ipad-retail-security-devies-media-tablet-retail-security-systems.html"} iPad and Media Tablets
                            %li.item18
                              %a{:href => "http://www.vanguardproductsgroup.com/Camera-and-Camcorders/camera-and-camcorders.html"} Camera and Camcorder
                            %li.item20
                              %a{:href => "http://www.vanguardproductsgroup.com/Netbook-and-Laptop/netbook-and-laptop.html"} Netbook and Laptop
                            %li.item19
                              %a{:href => "http://www.vanguardproductsgroup.com/iPod-mp3-and-Gps/ipod-mp3-and-gps.html"} iPod, eReader and GPS
                        %li.item22
                          %a{:href => "http://www.vanguardproductsgroup.com/Video-Messaging/video-messaging.html"} Video Messaging Solutions
                        %li.item27
                          %a{:href => "http://www.vanguardproductsgroup.com/Custom-Solutions/custom-solutions-home.html"} Custom Solutions
                        %li.item58
                          %a{:href => "http://www.vanguardproductsgroup.com/Security-Only-Solutions/security-only-solutions.html"} Security Only Solutions
                    %li.item4
                      %a{:href => "http://www.vanguardproductsgroup.com/Services/we-have-services.html"} Services
                    %li.parent.item5
                      %a{:href => "http://www.vanguardproductsgroup.com/Company/company.html"} Company
                      %ul
                        %li.item30
                          %a{:href => "http://www.vanguardproductsgroup.com/Mission/mission.html"} Mission
                        %li.item28
                          %a{:href => "http://www.vanguardproductsgroup.com/Company/team.html"} Management Team
                        %li.item36
                          %a{:href => "http://www.vanguardproductsgroup.com/blog.html"} Blog
                        %li.item51
                          %a{:href => "http://www.vanguardproductsgroup.com/Customers/vanguard-customers.html"} Customers
                        %li.item47
                          %a{:href => "http://www.vanguardproductsgroup.com/International-Distributors/international-vpg-security-distributors.html"} International Distributors
                        %li.item61
                          %a{:href => "http://www.vanguardproductsgroup.com/Careers/careers.html"} Careers
                        %li.item39
                          %a{:href => "http://www.vanguardproductsgroup.com/Company/links.html"} Links
                    %li.parent.item71
                      %a{:href => "http://www.vanguardproductsgroup.com/Customer-Resources/customer-resources.html"} Customer Resources
                      %ul
                        %li.item29
                          %a{:href => "http://www.vanguardproductsgroup.com/FAQ/faq.html"} FAQs
                    %li.parent.item6
                      %a{:href => "http://www.vanguardproductsgroup.com/Contact-Us/contact-us.html"} Contact Us
                      %ul
                        %li.item37
                          %a{:href => "http://www.vanguardproductsgroup.com/Contact-Us/newsletter.html"} VPG eNewsletter Sign Up
                        %li.item59
                          %a{:href => "http://www.vanguardproductsgroup.com/VPG-Webstore-Sign-Up/vpg-webstore-sign-up.html"} Webstore Sign Up
            %td.menu-search{:valign => "top"}
              %table.vpgsearch{:cellpadding => "0", :cellspacing => "0"}
                %tr
                  %td.vpgsearch-left
                  %td.vpgsearch-middle
                    %table.contentpaneopen
                      %tr
                        %td{:valign => "top"}
                          %span{:style => "font-family: arial,helvetica,sans-serif;"}
                            %span{:style => "font-size: 11pt;"}
                              %span{:style => "color: #ffffff;"}
                                %strong Call Us Now:&nbsp;&nbsp;1-877-477-4874
                      %tr
                        %td{:valign => "top"}
                  %td.vpgsearch-right
              \&nbsp;
    #Vanguard-black
      .VPG-black
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "1011"}
          %tr
            %td{:style => "black-title", :width => "746"}
              %table.moduletable
                %tr
                  %td
                    %table.contentpaneopen
                      %tr
                        %td{:valign => "top"}
                          %table{:border => "0", :style => "width: 350px;"}
                            %tbody
                              %tr
                                %td
                                  %img{:height => "30", :src => "/vanguard/images/spacer_30.jpg", :width => "20"}/
                                  %span{:style => "color: #c0c0c0;"}
                              %tr
                                %td
                                  %span{:style => "color: #207fde;"}
                                    %span{:style => "font-size: 18pt;"}
                                      %span{:style => "color: #ffffff;"}> Phone
                                      Log
                          %br._mce_marker/
                          %br._mce_marker/
                          %br/
                      %tr
                        %td{:valign => "top"}
            %td{:valign => "top", :width => "265"}
    #Vanguard-flash
    #Vanguard-content
      .VPG-content
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "1011"}
          %tr
            %td.whitemodlefttop
              %span.breadcrumbs.pathway
                %a.pathway{:href => "http://www.vanguardproductsgroup.com/"} Home
                %img{:alt => "", :src => "/vanguard/images/arrow.png"}/
                Phone Log
            %td.whitemodmiddletop &nbsp;
            %td.whitemodright &nbsp;
          %tr
            %td.whitemodleft
              %table.contentpaneopen
                %tr
                  %td{:valign => "top"}
                    = yield
              %span.article_separator &nbsp;
            %td.whitemodmiddle &nbsp;
            %td.whitemodright
        %tr
          %td.whitemodleft &nbsp;
          %td.whitemodmiddletop &nbsp;
          %td.whitemodright &nbsp;
    #Vanguard-footer
      .VPG-footer
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "1011"}
          %tr
            %td.whitebottomleft
            %td.whitebottom
            %td.whitebottomright
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "1011"}
          %tr
            %td.footer-logo{:valign => "top"}
              %div{:align => "center"}
                %img{:alt => "VPG-logo-small.png", :height => "32", :src => "/vanguard/images/VPG-logo-small.png", :width => "115.555555556"}/
            %td.footer-menu{:valign => "top"}
              %table{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "100%"}
                %tr
                  %td{:nowrap => "nowrap"}
                    %a.mainlevel-footermenu{:href => "http://www.vanguardproductsgroup.com/Home.html"} Home
                    %a#active_menu-footermenu.mainlevel-footermenu{:href => "http://www.vanguardproductsgroup.com/Solutions/solutions.html"} Solutions
                    %a.mainlevel-footermenu{:href => "http://www.vanguardproductsgroup.com/Services/we-have-services.html"} Services
                    %a.mainlevel-footermenu{:href => "http://www.vanguardproductsgroup.com/Company/company.html"} Company
                    %a.mainlevel-footermenu{:href => "http://www.vanguardproductsgroup.com/blog.html"} Blog
                    %a.mainlevel-footermenu{:href => "http://www.vanguardproductsgroup.com/Contact-Us/contact-us.html"} Contact
                    %a.mainlevel-footermenu{:href => "http://www.vanguardproductsgroup.com/component/option,com_xmap/Itemid,31/sitemap,1/"} Sitemap
                    %a.mainlevel-footermenu{:href => "http://www.vanguardproductsgroup.com/VAR-Cat/var.html"} Authorized Retailers
              %table.contentpaneopen-copyright
                %tr
                  %td{:valign => "top"}
                    %p Vanguard is a leader in retail loss prevention, providing Retail Security Systems, Retail Anti-Theft Devices, Anti-Shoplifting Alarms, Retail Security Devices, Digital Signage and Video Messaging Solutions, Advanced Line Alarms, Powered Product Alarms, Retail Security Tethers, Retractable Cord Reel Security, Sensor-Based Alarms, as well as Consumer Electronics Retail Displays. With our solutions retailers can effectively display, power and secure today's hottest products, like iPads, cell phones and smartphones, cameras and camcorders, netbooks, laptops, GPS devices, MP3 players, eReaders (eBook Readers) and media tablet computers.
                    %p
                      Copyright © 2011 Vanguard Protex Global, All Rights Reserved. |
                      %a.footer_copywritelink{:href => "http://www.vanguardproductsgroup.com/Legal/privacy-and-legal-information.html"} Legal
                %tr
                  %td{:valign => "top"}
            %td.footer-phone{:valign => "top"}
              %table.contentpaneopen
                %tr
                  %td{:valign => "top"}
                    %span{:style => "font-family: arial,helvetica,sans-serif;"}
                      %strong
                        %span{:style => "font-size: 11pt;"} 1-877-477-4874
                %tr
                  %td{:valign => "top"}
    / Begin Salesforce Tracking Code, Place immediately before closing </BODY> tag
    %script{:src => "https://lct.salesforce.com/sfga.js", :type => "text/javascript"}
    :javascript
      __sfga();    / End Salesforce Tracking Code, Place immediately before closing </BODY> tag
    :javascript
      var SearchentJS = (("https:" == document.location.protocol) ? "https://www." : "http://www."); document.write(unescape("%3Cscript src='" + SearchentJS + "searchent.net/searchent.js' type='text/javascript'%3E%3C/script%3E"));     :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          :javascript
      try {
        var pageTracker = _gat._getTracker("UA-12263506-1");
        pageTracker._trackPageview();
      } catch(err) {}